@model DataLayer.author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>author</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.first_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.first_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.last_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.last_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.biography)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.biography)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.birth_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.birth_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.active)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
