
@using Recaptcha;
@model DigitalLibraryContracts.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
            <div class="row-fluid">
                <div class="span8" id="sidebar">  
                    <!--  Carousel - consult the Twitter Bootstrap docs at -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://www.3dtotal.com/admin/new_cropper/tutorial_content_images/1573_tid_fig10.jpg" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://www.3dtotal.com/admin/new_cropper/tutorial_content_images/1573_tid_fig01.jpg" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://2.bp.blogspot.com/-peGDqWCDM7I/UgBCQizqh1I/AAAAAAAABog/zIELKW_s0zw/s1600/ttt+8.5.13+1.jpg" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://1.bp.blogspot.com/-gPprtnmTPO4/UkGPMy-DkQI/AAAAAAAAF8I/EL_U_QsjgbA/s1600/Book+love.jpg" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
  </div>
    <!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->   
                </div>                
                <!--/span-->
                 
                <div class="span4" id="content">          
                  
                    <div class="row-fluid">
                        <!-- block -->
                                                 
                            <div id="indexshow" class="block-content collapse in"> 
                                
  @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>       

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>        
         <div>
             @Html.Raw(Html.GenerateCaptcha()) 
         </div>     
        <p></p>      
        <p></p>
        <p>
            <input type="submit" class="btn btn-large bottom-space" value="Create" />
        </p>
    </fieldset>
}
                                                              
                            </div>                       
                        <!-- /block -->
                    </div>
                </div>
            </div>

    @section Scripts{
    @Scripts.Render("~/bundles/piechartjs") 
    @Scripts.Render("~/bundles/ajaxjs")
   
}



   