@model DataLayer.user

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
             <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li class="active">
                            <a id="dashboard" href="http://localhost:52464/Home/AdminDashboard"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a id="users" href="http://localhost:52464/User/Index"><i class="icon-chevron-right"></i> Users</a>
                        </li>
                        <li>
                            <a id="books" href="http://localhost:52464/Book/Index"><i class="icon-chevron-right"></i> Books</a>
                        </li>
                        <li>
                            <a id="genres" href="http://localhost:52464/Genre/Index"><i class="icon-chevron-right"></i> Genres</a>
                        </li>
                        <li>
                            <a id="authors" href="http://localhost:52464/Author/Index"><i class="icon-chevron-right"></i> Authors</a>
                        </li>
                       
                    </ul>
                </div>
                
                <!--/span-->
                <div class="span9" id="content">         

                    <div  id="show" class="row-fluid">
                       
                    </div>
                </div>
           
                
                <!--/span-->
                <div class="span9" id="content">          
 
                    <div  id="show" class="row-fluid">                       

 <!-- block -->
 <div class="block">                          
 <div class="block-content collapse in">   
  <div class="span12"></div> 
  <div class="row">
           <div class="span3 offset1">
          <img data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;" src="@Url.Action("GetProfilePic", "User", new {username = @Model.username})")/>
            
           </div>
            <div class="span6">                
                <div class="span3">
                    <p>First Name: </p>
                    <p>Last Name: </p>
                    <p>Email: </p>                   
                </div>
                 <div class="span3">
                    <p>@Model.first_name </p>
                    <p>@Model.last_name </p>
                    <p>@Model.email </p>                   
                </div>
            </div>
          </div> 
<hr />
<div class="row">
    <div class="span9 offset1">
        @if(Roles.IsUserInRole(Model.username,"user")==true){                        
            <input class="btn" onclick="javascript:promoteUser(@Model.id)" type ="button" value="Promote" />
        }
    </div>
</div>
                
 </div>
 </div>
</div>
</div>
 </div>
</div>

   @section Scripts{
    @Scripts.Render("~/bundles/piechartjs") 
    @Scripts.Render("~/bundles/ajaxjs") 
    @Scripts.Render("~/bundles/adminjs")    
    @Scripts.Render("~/bundles/dmuploaderjs")
}


 