@model DataLayer.book

@{
    ViewBag.Title = "Edit";
}
@using (Ajax.BeginForm("Edit", "Book", new AjaxOptions { UpdateTargetId = "show" })){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.id)
        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isbn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isbn)
            @Html.ValidationMessageFor(model => model.isbn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.edition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.edition)
            @Html.ValidationMessageFor(model => model.edition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>        
        <div class="editor-field">
            @Html.HiddenFor(model => model.added_by)           
        </div>       
        <div class="editor-field">
            @Html.HiddenFor(model => model.active)           
        </div>

        <p>
            <input class="btn" type="submit" value="Save" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
