@model IEnumerable<DataLayer.book>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
             <div class="row-fluid">
                <div class="span3" id="sidebar">
                  <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li class="active">
                            <a id="dashboard" href="http://localhost:52464/Home/AdminDashboard"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a id="users" href="http://localhost:52464/User/Index"><i class="icon-chevron-right"></i> Users</a>
                        </li>
                        <li>
                            <a id="books" href=http://localhost:52464/Book/Index"><i class="icon-chevron-right"></i> Books</a>
                        </li>
                        <li>
                            <a id="genres" href="http://localhost:52464/Genre/Index"><i class="icon-chevron-right"></i> Genres</a>
                        </li>
                        <li>
                            <a id="authors" href="http://localhost:52464/Author/Index"><i class="icon-chevron-right"></i> Authors</a>
                        </li>
                       
                    </ul>
                </div>
                
                <!--/span-->
                <div class="span9" id="content">         

                    <div   class="row-fluid">
                        <!-- block -->
 <div class="block">                          
 <div id="show" class="block-content collapse in">
     <div class="span12"></div>
 @foreach (var item in Model) {    
<div class="span3">
<a id="@item.id"  href="javascript:getBook(@item.id)" class="thumbnail">
<img data-src="holder.js/260x180" alt="260x180" src="~/Content/img/book.png" /></a>
 <div class="caption">
<h3 style="text-align:center">@Html.DisplayFor(modelItem => item.title)</h3>                   
 </div> 
</div>  
}                            
 </div>
 </div>
                    </div>
                </div>        
                         

 


</div>
</div>



    @section Scripts{
    @Scripts.Render("~/bundles/piechartjs") 
    @Scripts.Render("~/bundles/ajaxjs") 
    @Scripts.Render("~/bundles/adminjs")    
    @Scripts.Render("~/bundles/dmuploaderjs")
}





