@model DigitalLibrary.Models.UserProfileModel

@{
    ViewBag.Title = "EditProfile";
}

 <div class="span6 offset1">
    
@using (Html.BeginForm("EditProfile", "Account",FormMethod.Post, new { enctype = "multipart/form-data"})){

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()        
        
                <div>
                <div id="drag" class="uploader" ondragenter="return false" ondragover="return false" ondrop="dropIt(event)">                
                 <img class = "image" id = "img" src="@Url.Action("GetProfilePic", "Account", new {username = @User.Identity.Name})"/>                                         
                </div>                    
                <input type="file" name="Image" id="file" multiple="multiple" title='Click to add Files' onchange="imagesSelected(this.files)">
                </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
          @Html.EditorFor(model => model.FirstName)
          @Html.ValidationMessageFor(model => model.FirstName)
         </div>       
         <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
          @Html.EditorFor(model => model.LastName)
          @Html.ValidationMessageFor(model => model.LastName)
         </div>        
         <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
          @Html.EditorFor(model => model.Email)
          @Html.ValidationMessageFor(model => model.Email)
         </div>    
           
       
        <input class="btn" type="submit" id ="send" value="Save" />
   
}
</div>


@section Scripts {
    @Scripts.Render("~/bundles/dmuploaderjs")
}